#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: #d85f63; /* light blue */
  color: #1b1091;            /* readable text */
  border: 1px solid #D6A800;
  padding: 10px;
  font-family: "Oxanium", Arial, sans-serif;
}

a {
  color: #2a8cbc;
  text-decoration: none;
  font-family: "Oxanium", Arial, sans-serif;
}

a:hover {
  color: #D6A800;
}

a:visited {
  color: #063A55;
}
