/* Patrice Moracchini 
   CSS file for Moracchini_Mod6_2.html */


body {
  font-family:"Oxanium", Arial, sans-serif; /* using Google font */
}

header {
  background-color: #b14a1a; /* burnt orange */
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: #b14a1a;
  border-bottom: solid 15px #8f7d4f; /* muted olive/gold */
}

/* navbar a */
#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* navbar a:hover */
#navbar a:hover {
  background-color: #8f7d4f;
  color: #1f1f1f;
}

/* container div */
#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  background-color: #ffffff;
}

/* hover over the card */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* card-title */
.card-title {
  text-align: center;
  font-size: 2em;
  color: #b14a1a;
  font-weight: 400;
  padding: 20px 16px 10px 16px;
}

/* card-content */
.card-content {
  padding: 2px 16px;
}

/* footer element */
footer {
  background-color: #b14a1a; /* same as header */
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* footer p */
footer p {
  color: #ffffff;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

/* footer a */
footer a {
  text-decoration: none;
  color: #ffffff;
}

/* footer a:hover */
footer a:hover {
  text-decoration: underline;
}